<!DOCTYPE html>
<html>
<head>
    <title>Reset password</title>
    <style>
          body{

            background:#3C0C48;
        }
        p{
            color:white;
            margin-top:332px;
            margin-left:150px;
            font-size:22px;
        }
        a{
            color:#68BA05;
        }
    </style>
</head>
<body>
    <p> Reset password has been email sent. if you are candidate user to check your email and reactivate your account.<a href="https://www.gmail.com">check E-mail</a> </p>
</body>
</html>